.btn.active{
	height: 80px;	
	display: block;
	box-sizing: border-box;			
	padding-top: 2em;

}
.input{
	
	width: 17px;
	height: 17px;
	margin-left: 20px;
}
.input.input1{
	margin-left: 5px;
}
.button{
	background: #0D9F09;
	height: 50px;
	width: 150px;
	border: none;


}
